.post-heading {
  padding-top: 150px;
}
.post-heading h1 {
  font-weight: bolder;
  color: white;
}
.post-heading span.meta {
  font-weight: bolder;
  color: white;
}
.post-heading a{
  color: black;
}
.content-stuff {
  color: black;
  padding: 100px 0;
}
article {
  padding-bottom: 100px;
}
